# Tarefa: Top Youtubers
Esta é a tarefa proposta para a 5ª aula do curso de Engenharia de Dados da Awari. Siga as instruções para desenvolvê-la e entregá-la.

# O que fazer?
A atividade vai ao encontro do que foi visto em aula, sobre tratamento e limpeza de dados usando Pandas. O passo a passo consiste em:

1. Fazer download do dataset Top Youtube Artists, do Kaggle. 
2. Tratar as colunas sem informação adicionando o texto “Não informado”.
3. Formatar a coluna de total de inscritos multiplicando por 100 milhões.
4. Formatar coluna “AVG” para 2 casas decimais depois da vírgula.
5. Mostrar os top 10 usuários.
6. Mostrar primeiros 100 usuários por nome decrescente.
7. Salvar um novo CSV com a informação tratada.

## Fazer import do dataset Top Youtube Artists, do Kaggle.

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv('topyoutube.csv')

In [71]:
df

               Artist Total Views  100M     Avg
0                 BTS    27,947.9  63.0   7.370
1           Bad Bunny    27,573.4  66.0  14.555
2       Justin Bieber    27,399.7  37.0   3.986
3          Ed Sheeran    26,894.0  39.0   4.609
4        Taylor Swift    24,350.0  38.0   5.716
...               ...         ...   ...     ...
1582  Pietro Lombardi       204.1   NaN   0.022
1583            Duffy       203.2   NaN   0.020
1584          Psirico       201.1   1.0   0.039
1585       Alex Clare       200.8   NaN   0.020
1586       The Avener       200.5   NaN   0.036

[1587 rows x 4 columns]

## Tratar as colunas sem informação adicionando o texto “Não informado”.

In [72]:
df.isnull().sum()

Artist           0
Total Views      0
100M           171
Avg              0
dtype: int64

In [73]:
df.fillna('Não informado', inplace=True)

In [85]:
df.isnull().sum()

Artist         0
Total Views    0
100M           0
Avg            0
dtype: int64

## Formatar a coluna de total de inscritos multiplicando por 100 milhões.

In [74]:
df['Total Views']

0       27,947.9
1       27,573.4
2       27,399.7
3       26,894.0
4       24,350.0
          ...
1582       204.1
1583       203.2
1584       201.1
1585       200.8
1586       200.5
Name: Total Views, Length: 1587, dtype: object

Podemos analisar que a coluna está no formato de object e isso impede que a gente possa multiplicar diretamente por 100 milhões então vamos tratar ela para o formato float para podermos multiplicar os valores da coluna corretamente.

In [75]:
df1 = df['Total Views'].str.replace(',', '')

Primeiro vamos retirar a virgula que está nos atrapalhando na hora de converter a coluna para float.

In [76]:
df1

0       27947.9
1       27573.4
2       27399.7
3       26894.0
4       24350.0
         ...
1582      204.1
1583      203.2
1584      201.1
1585      200.8
1586      200.5
Name: Total Views, Length: 1587, dtype: object

Agora vamos finalmente transformar nossa coluna para float para assim podermos multiplicar os valores.

In [77]:
df1 = df1.astype(float)

In [78]:
df1

0       27947.9
1       27573.4
2       27399.7
3       26894.0
4       24350.0
         ...
1582      204.1
1583      203.2
1584      201.1
1585      200.8
1586      200.5
Name: Total Views, Length: 1587, dtype: float64

In [79]:
df['Total Views'] = df1 * 100000000

In [80]:
df

               Artist   Total Views           100M     Avg
0                 BTS  2.794790e+12           63.0   7.370
1           Bad Bunny  2.757340e+12           66.0  14.555
2       Justin Bieber  2.739970e+12           37.0   3.986
3          Ed Sheeran  2.689400e+12           39.0   4.609
4        Taylor Swift  2.435000e+12           38.0   5.716
...               ...           ...            ...     ...
1582  Pietro Lombardi  2.041000e+10  Não informado   0.022
1583            Duffy  2.032000e+10  Não informado   0.020
1584          Psirico  2.011000e+10            1.0   0.039
1585       Alex Clare  2.008000e+10  Não informado   0.020
1586       The Avener  2.005000e+10  Não informado   0.036

[1587 rows x 4 columns]

## Formatar coluna “AVG” para 2 casas decimais depois da vírgula.

In [81]:
df['Avg']

0        7.370
1       14.555
2        3.986
3        4.609
4        5.716
         ...
1582     0.022
1583     0.020
1584     0.039
1585     0.020
1586     0.036
Name: Avg, Length: 1587, dtype: float64

In [82]:
df['Avg'] = df['Avg'].round(2)

Neste exemplo, usamos o método round() para arredondar os valores da coluna "AVG" para duas casas decimais e conseguimos isso facilmente pois a coluna está no dtype: float.

In [83]:
df['Avg']

0        7.37
1       14.56
2        3.99
3        4.61
4        5.72
        ...
1582     0.02
1583     0.02
1584     0.04
1585     0.02
1586     0.04
Name: Avg, Length: 1587, dtype: float64

## Mostrar os top 10 usuários.

In [84]:
df

               Artist   Total Views           100M    Avg
0                 BTS  2.794790e+12           63.0   7.37
1           Bad Bunny  2.757340e+12           66.0  14.56
2       Justin Bieber  2.739970e+12           37.0   3.99
3          Ed Sheeran  2.689400e+12           39.0   4.61
4        Taylor Swift  2.435000e+12           38.0   5.72
...               ...           ...            ...    ...
1582  Pietro Lombardi  2.041000e+10  Não informado   0.02
1583            Duffy  2.032000e+10  Não informado   0.02
1584          Psirico  2.011000e+10            1.0   0.04
1585       Alex Clare  2.008000e+10  Não informado   0.02
1586       The Avener  2.005000e+10  Não informado   0.04

[1587 rows x 4 columns]

Para mostrar os top 10 usuários em um DataFrame, ordenados por número total de views, você pode usar o método sort_values() para ordenar o DataFrame pela coluna "Total Views" em ordem decrescente e, em seguida, usar o método head() para selecionar as 10 primeiras linhas.

In [86]:
top_10 = df.sort_values(by='Total Views', ascending=False).head(10)

In [87]:
top_10

          Artist   Total Views  100M    Avg
0            BTS  2.794790e+12  63.0   7.37
1      Bad Bunny  2.757340e+12  66.0  14.56
2  Justin Bieber  2.739970e+12  37.0   3.99
3     Ed Sheeran  2.689400e+12  39.0   4.61
4   Taylor Swift  2.435000e+12  38.0   5.72
5        Shakira  2.396180e+12  43.0   7.84
6     Katy Perry  2.355340e+12  25.0   3.18
7          Ozuna  2.252480e+12  49.0   4.93
8         Eminem  2.093770e+12  38.0   5.84
9  Ariana Grande  2.061850e+12  37.0   3.37

## Mostrar primeiros 100 usuários por nome decrescente.

Para mostrar os primeiros 100 usuários em um DataFrame ordenados por nome em ordem decrescente, você pode usar o método sort_values() para ordenar o DataFrame pela coluna "nome" em ordem decrescente e, em seguida, usar o método head() para selecionar as 100 primeiras linhas.

In [88]:
primeiros_100 = df.sort_values(by='Artist', ascending=False).head(100)

In [89]:
primeiros_100

             Artist   Total Views           100M   Avg
1374         Łobuzy  3.965000e+10            2.0  0.11
537     İrem Derici  1.717300e+11            3.0  0.32
634      Ñengo Flow  1.388800e+11            4.0  0.82
1032  Çağatay Akman  7.427000e+10            2.0  0.05
350       will.i.am  2.582000e+11            6.0  0.30
...             ...           ...            ...   ...
516      Via Vallen  1.787500e+11            3.0  0.08
1507   Veysel Mutlu  2.774000e+10            1.0  0.03
1358         Veysel  4.122000e+10  Não informado  0.06
891       Vengaboys  9.348000e+10            3.0  0.34
864       Vegedream  9.913000e+10            1.0  0.51

[100 rows x 4 columns]

Neste exemplo, usamos o método sort_values() para ordenar o DataFrame df pela coluna "artist" em ordem decrescente. Em seguida, usamos o método head() para selecionar as 100 primeiras linhas do DataFrame ordenado. O resultado será um DataFrame com as informações dos primeiros 100 usuários ordenados por nome em ordem decrescente.

## Salvar um novo CSV com a informação tratada.

In [90]:
df.to_csv('tratado.csv', index=False, sep=',')